@import "../globals.scss";

.main {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  transform: translate(-40%, -40%);
}

.channel-list {
  width: 100%;
  padding: 0;
  list-style: none;
}

.channels {
  padding: 10px;
  box-shadow: -1px 1px 1px 1px #888888;
  height: 72.5%;
}

li {
  border-bottom: 1px solid black;
  padding: 0px 10px 0px 10px;
  width: 90%;
}

li:hover, li:hover * {
  background-color: #eeeeee;
}

.chat {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 75%;
  box-shadow: 1px 2px 8px #888888;
}

h1 {
  margin-bottom: 5px;
}

.chat-title {
  width: 100%;
  height: 30px;
  box-shadow: 0 4px 2px -2px #888888;
  text-align: center;
}

.chat-box {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
}

.message-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.user, .avatar{
  width: 5rem;
  height: auto;
  padding: 10px;
}

.message {
  width: 100%;
  padding: 10px;
  height: auto;
}

.input-container{
  border-top: 1px solid gray;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.message-input {
  width: 90%;
  margin-left:20px;
}

.user-container {
  display: flex;
  flex-direction: column;
}
