<div class="main">
  <div class="chat">
    <div class="chat-title">
      <h1> Gamer Chat Room </h1>
    </div>
    <div class="chat-box">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet sapien eu enim lobortis molestie sed ac lorem. Praesent rhoncus eget justo non luctus. Maecenas viverra justo ante, at interdum nulla auctor eu. Pellentesque consequat hendrerit elit sit amet congue. Sed ac elementum orci. Fusce tincidunt ex id quam fermentum fermentum. Duis id accumsan ipsum.
      </p>
    </div>
  </div>
</div>
