<div class="main">
  <div class="chat">
    <div class="chat-title">
      <h1> Gamer Chat Room </h1>
    </div>
    <div class="chat-box">
      <div class="message-container" *ngFor="let message of messages">
        <div class="user-container">
          <div class="user">
            <p> {{ message[0] }} &nbsp; </p>
          </div>
          <div class="avatar">
            <p> {{ message[1] }} </p>
          </div>
        </div>
        <div class="message">
          <p> {{ message[2] }} </p>
        </div>
      </div>
    </div>
    <div class="input-container">
      <textarea matInput max-rows="5" maxlength="500" class="message-input"> </textarea>
      <button mat-raised-button> Send </button>
    </div>
  </div>
</div>
