<div class="main">
  <div class="channels">
    <h3> List of Channels </h3>
    <ul class="channel-list">
      <li>
        <button (click)="changeChannels(channels[0])" mat-flat-button> {{ channels[0] }} </button>
      </li>
      <li>
        <button (click)="changeChannels(channels[1])" mat-flat-button> {{ channels[1] }}  </button>
      </li>
      <li>
        <button (click)="changeChannels(channels[2])" mat-flat-button> {{ channels[2] }}  </button>
      </li>
      <li>
        <button (click)="changeChannels(channels[3])" mat-flat-button> {{ channels[3] }}  </button>
      </li>
    </ul>
  </div>
  <div class="chat">
    <div class="chat-title">
      <h1> Gamer Chat Room </h1>
    </div>
    <div class="chat-box">
      <div class="message-container" *ngFor="let message of messages">
        <div class="user-container">
          <div class="user">
            {{ message[0] }} &nbsp;
          </div>
          <!-- <div class="avatar">
            {{ message[1] }}
          </div> -->
        </div>
        <div class="message">
          {{ message[1] }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <textarea #inputMessage matInput cdkTextareaAutosize cdkAutofill max-rows="5" maxlength="400" class="message-input"> </textarea>
      <button mat-raised-button (click)="sendMessage(inputMessage)"> Send </button>
    </div>
  </div>
</div>
